.article-list-wrap {
    margin: 0 auto;
    width: 1080px;
    height: auto;
    border: 1px solid #eee;
    .article-list-top {
        margin: 20px 0 20px 20px;
    }
    .ant-pagination {
        padding-right: 20px;
    }
    .form-box {
        overflow: hidden;
        .item {
            margin-bottom: 20px;
            display: inline-block;
            width: 50%;
            vertical-align: top;
            label {
                font-size: 16px;
                color: #333;
                font-weight: 400;
                vertical-align: top;
                margin-right: 15px;
            }
            .input-title {
                vertical-align: middle;
                max-width: 250px;
            }
        }
    }
}